

.page-header{
    margin-left:4%;
    margin-top:2%;


}

.cn>.col-lg-4{
    background-color:white;
    width:55%;
    height:468px;
    margin-top:4%;
    margin-left:22.8%;
    border-radius:15px;
    box-shadow: 5px 10px;
}

label[for=username],label[for=pwd]
{

    font-size:18px;
    margin-left:8%;
    margin-top:3%;
}

#uname,#pwd{
    border-top:none;
    border-left:none;
    border-right:none;
    margin-top:3%;
    margin-left:8%;
    width:81%;
    border-bottom:1px solid black;
}

#frgt{
    font-size:18px;
    margin-left:16%;
    margin-top:5%;
}

#submit{
    background-color:#446cb4;
    color:white;
    width:85%;
    margin-left:7%;
    font-size:30px;
    border-radius:10px;
    margin-top:4%;
}

#bottom{
    margin-left:22%;
    margin-top:4%;
    font-size:17px;
}

#uname:focus,#pwd:focus{
    /*border:1px solid black;*/
    outline:none;
}
body{
                background-image: linear-gradient(to right,#43cea2, #185a9d);
            }
            .navbar-brand{
                -webkit-animation-name: example; 
                -webkit-animation-duration: 10s; 
                animation-name: example;
                animation-duration: 10s;
                animation-iteration-count: infinite;

            }
            @-webkit-keyframes example {
                0%   {color: red;}
                15%  {color: yellow;}
                30%  {color: #DDA0DD;}
                45% {color: aqua;}
                60% {color: #7fff00;}
                75% {color: #DC143C;}
                90% {color: #F08080;}
            }

            /* Standard syntax */
            @keyframes example {
                0%   {color: red;}
                15%  {color: yellow;}
                30%  {color: #DDA0DD;}
                45% {color: aqua;}
                60% {color: #7fff00;}
                75% {color: #DC143C;}
                90% {color: #F08080;}
            }
             body{
                background-image: linear-gradient(to right,#13547a , #80d0c7);
            }
            .navbar-brand{
                -webkit-animation-name: example; 
                -webkit-animation-duration: 10s; 
                animation-name: example;
                animation-duration: 10s;
                animation-iteration-count: infinite;

            }
            @-webkit-keyframes example {
                0%   {color: red;}
                15%  {color: yellow;}
                30%  {color: #DDA0DD;}
                45% {color: aqua;}
                60% {color: #7fff00;}
                75% {color: #DC143C;}
                90% {color: #F08080;}
            }
            @keyframes example {
                0%   {color: red;}
                15%  {color: yellow;}
                30%  {color: #DDA0DD;}
                45% {color: aqua;}
                60% {color: #7fff00;}
                75% {color: #DC143C;}
                90% {color: #F08080;}
            }
            .page-header{
                margin-left:4%;
            }

            input[type=text]{
                -webkit-transition: all 0.30s ease-in-out;
                -moz-transition: all 0.30s ease-in-out;
                -ms-transition: all 0.30s ease-in-out;
                -o-transition: all 0.30s ease-in-out;
                outline: none;
                padding: 3px 0px 3px 3px;
                margin: 5px 1px 3px 0px;
                border: 1px solid #DDDDDD;
            }

            input[type=text]:focus
            {
                box-shadow: 0 0 5px rgba(81, 203, 238, 1);
                padding: 3px 0px 3px 3px;
                margin: 5px 1px 3px 0px;
                border: 1px solid rgba(81, 203, 238, 1);
            }
            #defaulter-table ,#response-table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 50%;
                margin-top:5%;
                margin-left:15%;

            }

            td, th {
                border: 0.5px solid black;
                text-align: left;
                padding: 8px;
                height:26px;
         
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
 body{
                background-image: linear-gradient(to right,#13547a , #80d0c7);
            }
            .navbar-brand{
                -webkit-animation-name: example; 
                -webkit-animation-duration: 10s; 
                animation-name: example;
                animation-duration: 10s;
                animation-iteration-count: infinite;

            }
            @-webkit-keyframes example {
                0%   {color: red;}
                15%  {color: yellow;}
                30%  {color: #DDA0DD;}
                45% {color: aqua;}
                60% {color: #7fff00;}
                75% {color: #DC143C;}
                90% {color: #F08080;}
            }

            /* Standard syntax */
            @keyframes example {
                0%   {color: red;}
                15%  {color: yellow;}
                30%  {color: #DDA0DD;}
                45% {color: aqua;}
                60% {color: #7fff00;}
                75% {color: #DC143C;}
                90% {color: #F08080;}
            }

            #l1
            {
                color:white;
                font-size:50px;
                margin-left:16%;
                margin-top:3.7%;
            }

            #l2
            {
                color:white;
                margin-top:2.7%;
                margin-left:30%;
                font-size:25px;
            }

            #l3
            {
                color:white;
                margin-top:2%;
                font-size:25px;
                margin-left:30%;
            }

            #l4{
                color:white;
                margin-left:30%;
                font-size:27px;
            }

            #continue{
                margin-left:42%;
                margin-top:2.7%;
                font-size:25px;
                padding-left:30px;
                padding-right:30px;
                padding-top:10px;
                padding-bottom:10px;
                background-color: rgb( 0, 0, 0);
                color:white;
                border-radius:5%;
                opacity:0.6;

            }
            
         