<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchQuestion</servlet-name>
        <servlet-class>Servlets.FetchQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAnswer</servlet-name>
        <servlet-class>Servlets.InsertAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertQuestion</servlet-name>
        <servlet-class>Servlets.InsertQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Defaulters</servlet-name>
        <servlet-class>Servlets.Defaulters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>response</servlet-name>
        <servlet-class>Servlets.response</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchMostAnsweredQuestion</servlet-name>
        <servlet-class>Servlets.fetchMostAnsweredQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchDefaulterPercentage</servlet-name>
        <servlet-class>Servlets.fetchDefaulterPercentage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>Servlets.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchQuestion</servlet-name>
        <url-pattern>/FetchQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAnswer</servlet-name>
        <url-pattern>/InsertAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertQuestion</servlet-name>
        <url-pattern>/InsertQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Defaulters</servlet-name>
        <url-pattern>/Defaulters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>response</servlet-name>
        <url-pattern>/response</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchMostAnsweredQuestion</servlet-name>
        <url-pattern>/fetchMostAnsweredQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchDefaulterPercentage</servlet-name>
        <url-pattern>/fetchDefaulterPercentage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
